<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Party!</title>
    <link href="{{url_for('static', path='css/output.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static', path='js/htmx.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/remove-me.js' ) }}"></script>
    <script type="text/javascript" src="{{url_for('static', path='js/alpine.min.js')}}" defer></script>
</head>

<body class="bg-color-powder-light">
    <nav class="bg-custom-blue">
        <a href="/" class="inline-block p-4 text-custom-powder-light font-dancing-script text-2x1">
            My parties
        </a>
        <a href="{{ url_for('new_party_form_page') }}" class="inline-block p-4 text-custom-powder-light"
            data-cy="new-party-link">
            New party
        </a>
    </nav>
    <main class="container p-5 mx-auto">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>