{% for guest in guests %}
<div class="table-row">
    <div class="table-cell py-4 px-6 w-4">
        <input type="checkbox" value="{{ guest.uuid }}" name="guest_ids">
    </div>
    <div class="table-cell py-4 px-4 text-left">
        {{ guest.name }}
    </div>
    <div class="table-cell py-4 px-4 text-left">
        <button
            class="ml-3 py-1 px-2 shadow-md rounded-full text-white text-[10px] {{'bg-green-800' if guest.attending else 'bg-custom-red'}}">
            {{ 'Attending' if guest.attending else 'Not attending' }}
        </button>
    </div>
</div>
{% endfor %}